<div class="article-footer clearfix">
    <p class="interesting">Did you find this article interesting?
    <div id="btns">
    <a href="#yes" title="Yes" class="btn btn-success"><i class="fa fa-thumbs-up"></i></a>
    <a href="#no" title="No" class="btn btn-failure"><i class="fa fa-thumbs-down"></i></a>
    </div>
    </p>
    <span class="previous">
        <a href="#" title="Previous"><i class="fa fa-arrow-circle-left"></i> Previous</a>
    </span>
    <span class="next">
         <a href="#" title="Next">Next <i class="fa fa-arrow-circle-right"></i></a>
    </span>
</div>
