<aside>
    {{> social}}
    <form action="/article/search" method="get">
        <input type="text" name="search" id="search" placeholder="Search Posts" />
    </form>
    <h3>Recent Posts</h3>
    <ul>
        {{#if recentArticles.length}}
        {{#each recentArticles}}
        <li><small>{{date publishDate}}</small><a href="/article/{{formatTitleDate publishDate}}/{{formatTitle title}}">{{title}}</a></li>
        {{/each}}
        {{else}}
        <li><small>No recent posts.</small></li>
        {{/if}}
    </ul>
    {{#if user}}
        <section id="user-info">
            <h3>User Info</h3>
            {{#if user.profile.alias}}
                <span class="username">{{user.profile.alias}}</span>
            {{else}}
                {{#if user.profile.fullName}}
                    <span class="username">{{user.profile.fullName}}</span>
                {{/if}}
            {{/if}}
            <a href="/admin/profile/edit" title="Edit Profile" id="profile"><span class="username">{{user.username}}</span></a>
            {{#if role}}
                <a href="/admin" class="btn" title="Admin" id="admin">Access Admin</a>
            {{/if}}
            <a data-bypass="true" href="/logout" class="btn btn-failure" title="Log out">Log out</a>
        </section>
    {{/if}}
</aside>
