<div class="header-container">
    <header class="wrapper clearfix">
        <div class="title-img">
            <img src="https://googledrive.com/host/0B2_tOM_cGqQyfmVOVndfV0d1M3psM1o3Q0JoN2JfWEQyeWxXb2JGMWUwdHEyTll2U3RjdlE/je-logo.png" alt="Jones Engineering" />
        </div>
        <h1 class="title"><a href="/">Jones Engineering</a></h1>
        <nav>
            <ul>
                <li class="{{getActiveNav '/blog' ./path }}"><a href="/blog"><i class="fa fa-rss"></i> Blog</a></li>
                <li class="{{getActiveNav '/about' ./path }}"><a href="/about"><i class="fa fa-black-tie"></i> About</a></li>
                <li class="{{getActiveNav '/projects' ./path }}"><a href="/projects"><i class="fa fa-code-fork"></i> Projects</a></li>
            </ul>
        </nav>
    </header>
</div>