<article class="profile">
	<header>
		<div class="profile-pic"><img src="{{profile.avatarUrl}} alt="Avatar" /></div>
	</header>
	<section>
		<div class="fieldItem">
			<div class="fieldName">Name</div>
			<div class="fieldValue">{{profile.fullName}}</div>
		</div>
		<div class="fieldItem">
			<div class="fieldName">Email</div>
			<div class="fieldValue">{{profile.publicEmail}}</div>
		</div>
		<div class="fieldItem">
			<div class="fieldName">Location</div>
			<div class="fieldValue">{{profile.location}}</div>
		</div>
		<div class="fieldItem">
			<div class="fieldName">Bio</div>
			<div class="fieldValue bio">{{profile.bio}}</div>
		</div>
	</section>
</article>