<article class="page contact">
    <form action="javascript:submitForm();">
        <div>
            <h3>Name</h3>
            <input type="text" name="firstName" placeholder="First Name" id="firstName" required autofocus/>
            <input type="text" name="lastName" placeholder="Last Name" id="lastName" required/>
        </div>
        <div>
            <h3>Email</h3>
            <input type="email" name="email" placeholder="Contact Email" id="email" required />
            <input type="email" name="confirmEmail" placeholder="Confirm Contact Email" id="confirmEmail" required />
        </div>
        <div>
            <h3>Phone</h3>
            <input type="tel" name="dayPhone" placeholder="Day Phone Number" id="dayPhone" required />
            <input type="tel" name="eveningPhone" placeholder="Evening Phone Number" id="phone"/>
        </div>
        <div>
            <h3>Message</h3>
            <textarea id="message" name="message" required></textarea>
        </div>
        <div>
            <input class="btn" type="submit" value="Send"/>
        </div>

    </form>
</article>

<script>
    var submitForm = function(e) {
        var values = $('form').serializeArray();

        if (values[2].value.trim() === '' || values[3].value.trim() === '') {
            return emailError('Please enter your email address.');
        }

        if (values[2].value !== values[3].value) {
            return emailError();
        }

        var postResult = $.post('/api/message', values, function(data) {
            $('form').hide();
            displayNotification('Thanks! Someone will contact you shortly!');
        });

        postResult.fail(function() {
            $('#response').show();
            displayNotification('Something went wrong! Please try again!', 'alert-danger');
            $('input').on('change', function() {
                hideNotifications();
            });
        });

        return false;
    };

    var emailError = function(err) {
        $('#response').removeClass('hidden');
        if (err) {
            displayNotification(err, 'alert-danger');
        } else {
            displayNotification('Email addresses must match!', 'alert-danger');
        }

        var emailFields = $('input[type=email');

        emailFields.addClass('invalid');
        emailFields[0].focus();
        emailFields.on('change', function() {
            hideNotifications();
            emailFields.removeClass('invalid');
        });
    };
</script>