header.blog-list {
    h1 {
        border-bottom: 1px solid #aaa;
        padding-bottom: .25em;
        line-height: 1.55em;
    }
    margin-bottom: 2em;
    a.btn {
      margin-top: 1em;  
    }

    a:hover {
        text-decoration: none;
    }
}

.title {
    color: black;
    font-weight: lighter;
    text-align: center;
}

.title-img {
    text-align: center;
}

.title-img img {
    width: 10em;
    margin: 1em 0;
}

.interesting {
    text-align: center;
    margin: 1em 0;
}

.header-container {
	border-top: 2px solid rgb(30,90,195);
    border-bottom: 20px solid rgb(40,133,217);
    background: white;
    color: black;
    line-height: 2em;

    .title {
        line-height: 2em;
    }

    a {
    	text-decoration: none;
    }
}

@media only screen and (min-width: 480px) {
    .title {
        text-align: center;
    }

    .title-img {
        text-align: center;
    }

    .title-img img {
        width: 5em;
    }
}

@media only screen and (min-width: 768px) {
   .title {
        text-align: left;
        float: left;
    }

    .title-img {
        float: left;
        margin-right: 1em;
        text-align: left;
    }

    .title-img img {
        width: 7em;
    }

    .title {
		float: left;
	}
}
