#articleList {
	.boxTitle {
		padding: 0;
	}
	.boxTitle:hover {
		color: #aaa;
	}
}

.listbox {
	.boxTitle {
		&:hover {
			cursor: pointer;
		}
		i {
			margin-right: 1em;
		}
		span {
			margin-right: 1.5em;
		}
		padding: 1.5em;
		padding-bottom: .2em;

		.contactDate {
			font-weight: bold;
			font-size: 1em;
		}

		.contactName {
			font-weight: bold;
			font-size: 1em;
		}

		.contactEmail {
			font-weight: lighter;
			font-size: 1em;
		}
	}

	.boxExpanded {
		margin-bottom: .25em;
		border-bottom: 1px solid @secondaryBackground;
		display: block;
		height: 0;
		overflow: hidden;		margin-bottom: 1em;
		border-bottom: 1px solid @secondaryBackground;

		.fieldName {
			font-weight: lighter;
			font-size: 0.85em;
			cursor: default;
			margin-bottom: 0;
			padding: 0;
		}

		.fieldValue {
			padding: 0;
			font-weight: bold;
			cursor: default;
		}

		.fieldItem {
			padding-right: 1em;
			margin-right: 1em;
			margin-bottom: 1.5em;
			display: inline-block;
		}
	}

	.boxExpandedOpen {
		height: auto;
		display: block;
		overflow: visible;
		padding: 1.5em;
		padding-top: 0em;
		background-color: @secondaryBackground;
	}
}